@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Work+Sans&display=swap');

main {
  font-family: "Work Sans", sans-serif;
}

header {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  color: white;
  font-size: 70px;
  background-color: rgb(115, 0, 10);
  height: 100px;
}

.HeaderButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.AddClubDiv button {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
}

.SearchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
} 

.SearchDiv button {
  padding: 5px 10px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 25px;
}

/* Style for the input */
.SearchDiv input[type="search"] {
  padding: 8px;
  margin: 10px;
  margin-bottom: 0;
  font-size: 25px; 
  border-radius: 8px;
}

.Boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 100px;
  font-size: 20px;
}

.Boxes h3 {
  margin-left: 43%;
  margin-bottom: 0;
  padding: 0;
}

.Boxes .Club {
  padding: 0px 20px 20px 20px;
  margin: 20px 20px;
  border: 2px solid black;
}

.Club a {
  margin: 0; 
}

.Club button {
  margin-left: 45%;
  padding: 5px 15px;
  font-size: 20px;
}

